@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #020617; /* Dark background matching slate-950 */
  color: #f8fafc;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: inherit;
}