@import "tailwindcss";

@import "@fontsource/inter";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: inherit;
}